<rc-sayfa-bandi [baslik]="'servisSigorta.sigorta.baslik' | transloco" ikon="shield">
  @if (canWrite()) {
    <button
      birincil
      type="button"
      class="rc-dugme rc-dugme--birincil"
      [attr.aria-expanded]="createOpen()"
      aria-controls="rc-yeni-police"
      (click)="toggleCreate()"
    >
      <rc-ikon ad="plus" [boyut]="14" />
      {{ 'servisSigorta.sigorta.yeni' | transloco }}
    </button>
  }
</rc-sayfa-bandi>
<div class="rc-sayfa">
  <rc-regulation-tabs />
  <p class="not">{{ 'servisSigorta.sigorta.aciklama' | transloco }}</p>

  @if (createOpen()) {
    <section id="rc-yeni-police" class="rc-bolum" aria-labelledby="rc-yeni-police-baslik">
      <h2 id="rc-yeni-police-baslik">{{ 'servisSigorta.sigorta.yeni' | transloco }}</h2>
      <form class="form" [formGroup]="form" (ngSubmit)="create()">
        <div class="rc-form-izgara">
          <rc-alan [etiket]="'servisSigorta.arac' | transloco">
            <rc-arama-secim formControlName="arac" [kaynak]="vehicles" />
          </rc-alan>
          <rc-alan [etiket]="'servisSigorta.sigorta.tip' | transloco">
            <rc-secim formControlName="tip" [secenekler]="typeOptions" />
          </rc-alan>
          <rc-alan [etiket]="'servisSigorta.sigorta.baslangic' | transloco">
            <rc-tarih-secici formControlName="baslangic" />
          </rc-alan>
          <rc-alan [etiket]="'servisSigorta.sigorta.bitis' | transloco">
            <rc-tarih-secici formControlName="bitis" />
          </rc-alan>
          <rc-alan [etiket]="'servisSigorta.sigorta.prim' | transloco">
            <rc-para-girdisi formControlName="prim" [paraBirimi]="currency() ?? 'TRY'" />
          </rc-alan>
          <rc-alan [etiket]="'servisSigorta.doviz' | transloco">
            <rc-secim formControlName="doviz" [secenekler]="currencyOptions()" />
          </rc-alan>
          <rc-alan [etiket]="'servisSigorta.sigorta.policeNo' | transloco">
            <rc-metin-girdisi formControlName="policeNo" [azamiUzunluk]="64" />
          </rc-alan>
          <rc-alan [etiket]="'servisSigorta.sigorta.firma' | transloco">
            <rc-metin-girdisi
              formControlName="firma"
              [azamiUzunluk]="128"
              liste="dl-sigorta-firma"
            />
          </rc-alan>
          <rc-alan [etiket]="'servisSigorta.sigorta.acenta' | transloco">
            <rc-metin-girdisi formControlName="acenta" [azamiUzunluk]="128" />
          </rc-alan>
          <rc-alan
            [etiket]="'servisSigorta.sigorta.sutun.aracDegeri' | transloco"
            [ipucu]="'servisSigorta.bilgiAlani' | transloco"
          >
            <rc-para-girdisi formControlName="aracDegeri" />
          </rc-alan>
          <rc-alan
            [etiket]="'servisSigorta.sigorta.sutun.immDegeri' | transloco"
            [ipucu]="'servisSigorta.bilgiAlani' | transloco"
          >
            <rc-para-girdisi formControlName="immDegeri" />
          </rc-alan>
          <rc-alan
            [etiket]="'servisSigorta.sigorta.sutun.aksesuarDegeri' | transloco"
            [ipucu]="'servisSigorta.bilgiAlani' | transloco"
          >
            <rc-para-girdisi formControlName="aksesuarDegeri" />
          </rc-alan>
        </div>
        <datalist id="dl-sigorta-firma">
          @for (f of companies(); track f) {
            <option [value]="f"></option>
          }
        </datalist>
        <rc-form-hatalari [hatalar]="submission.genelHatalar()" />
        <div class="rc-form-eylemler">
          <button
            type="submit"
            class="rc-dugme rc-dugme--birincil rc-dugme--kucuk"
            [disabled]="submission.gonderiliyor()"
          >
            {{
              submission.gonderiliyor()
                ? ('form.gonderiliyor' | transloco)
                : ('servisSigorta.ekle' | transloco)
            }}
          </button>
        </div>
      </form>
    </section>
  }

  <rc-filtre-paneli
    [formGroup]="filterForm"
    depoAnahtari="rc.filtre.regulasyon"
    (filtrele)="filter()"
    (temizle)="clear()"
  >
    <rc-alan [etiket]="'servisSigorta.plaka' | transloco">
      <rc-metin-girdisi formControlName="plaka" [azamiUzunluk]="32" />
    </rc-alan>
    <rc-alan [etiket]="'servisSigorta.sigorta.tip' | transloco">
      <rc-secim
        formControlName="tip"
        [secenekler]="typeOptions"
        [bosEtiket]="'servisSigorta.tumu' | transloco"
      />
    </rc-alan>
    <rc-alan [etiket]="'servisSigorta.odendi' | transloco">
      <rc-secim
        formControlName="odendi"
        [secenekler]="paidOptions"
        [bosEtiket]="'servisSigorta.tumu' | transloco"
      />
    </rc-alan>
  </rc-filtre-paneli>

  <rc-tablo
    class="liste-tablosu"
    tabloKodu="regulasyon.sigorta"
    [etiket]="'servisSigorta.sigorta.tabloEtiketi' | transloco"
    [sutunlar]="columns"
    [kaynak]="store.list.durum()"
    [satirKimligi]="rowId"
    [sirala]="query.sorgu().sirala"
    (siralaDegisti)="query.degistir({ sirala: $event })"
    (sayfaDegisti)="query.degistir({ sayfa: $event })"
    (boyutDegisti)="query.degistir({ boyut: $event })"
    (yenidenDene)="store.list.yenile()"
  >
    <ng-template rcTabloHucre="plaka" [rcTabloHucreSutunlar]="columns" let-satir>
      <a [routerLink]="['/regulasyon/sigortalar', satir.id]"
        ><rc-plaka [plaka]="satir.plaka" boyut="sm"
      /></a>
    </ng-template>
  </rc-tablo>
</div>
