<div class="sayfa">
  <header class="ust">
    <h1>{{ 'kiraListesi.baslik' | transloco }}</h1>
    @if (yeniKiraIzni() || ornekSozlesmeIzni()) {
      <div class="ust__eylemler">
        @if (yeniKiraIzni()) {
          <a class="rc-dugme rc-dugme--birincil rc-dugme--kucuk" routerLink="/kiralar/yeni">
            <rc-ikon ad="plus" [boyut]="14" />
            {{ 'kiraListesi.yeniKira' | transloco }}
          </a>
        }
        @if (ornekSozlesmeIzni()) {
          <a
            class="rc-dugme rc-dugme--kucuk"
            href="/kiralar/ornek-sozlesme/pdf"
            target="_blank"
            rel="noopener"
          >
            <rc-ikon ad="external-link" [boyut]="14" />
            {{ 'kiraListesi.ornekSozlesme' | transloco }}
          </a>
        }
      </div>
    }
  </header>

  <rc-katlanir-filtre
    class="filtre"
    [baslik]="'kiraListesi.filtre.baslik' | transloco"
    [etkinSayisi]="liste.etkinFiltreSayisi()"
    [(acik)]="filtreAcik"
  >
    <form
      class="filtre__form"
      [formGroup]="filtreFormu"
      [attr.aria-label]="'kiraListesi.filtre.baslik' | transloco"
      (ngSubmit)="filtrele()"
    >
      <div class="rc-form-izgara">
        <rc-alan
          [etiket]="'kiraListesi.filtre.ara' | transloco"
          [ipucu]="'kiraListesi.filtre.araIpucu' | transloco"
        >
          <rc-metin-girdisi formControlName="q" tur="search" [azamiUzunluk]="200" />
        </rc-alan>
        <rc-alan [etiket]="'kiraListesi.filtre.durum' | transloco">
          <rc-secim
            formControlName="durum"
            [secenekler]="durumSecenekleri"
            [bosEtiket]="'kiraListesi.filtre.tumu' | transloco"
          />
        </rc-alan>
        <rc-alan [etiket]="'kiraListesi.filtre.fatura' | transloco">
          <rc-secim
            formControlName="fatura"
            [secenekler]="faturaSecenekleri"
            [bosEtiket]="'kiraListesi.filtre.tumu' | transloco"
          />
        </rc-alan>
        <rc-alan [etiket]="'kiraListesi.filtre.tarihTuru' | transloco">
          <rc-secim
            formControlName="tarihTuru"
            [secenekler]="tarihTuruSecenekleri"
            [bosEtiket]="'kiraListesi.tarihTurleri.Baslangic' | transloco"
          />
        </rc-alan>
        <rc-alan [etiket]="'kiraListesi.filtre.basMin' | transloco">
          <rc-tarih-secici formControlName="basMin" />
        </rc-alan>
        <rc-alan [etiket]="'kiraListesi.filtre.basMax' | transloco">
          <rc-tarih-secici formControlName="basMax" />
        </rc-alan>
        @if (lokasyonSecimIzni()) {
          <rc-alan [etiket]="'kiraListesi.filtre.ofis' | transloco">
            <rc-arama-secim formControlName="ofis" [kaynak]="lokasyonlar" />
          </rc-alan>
        }
        <rc-alan [etiket]="'kiraListesi.filtre.ofisDurum' | transloco">
          <rc-secim
            formControlName="ofisDurum"
            [secenekler]="ofisDurumSecenekleri"
            [bosEtiket]="'kiraListesi.filtre.tumu' | transloco"
          />
        </rc-alan>
        <rc-alan [etiket]="'kiraListesi.filtre.sahip' | transloco">
          <rc-secim
            formControlName="sahip"
            [secenekler]="sahipSecenekleri()"
            [bosEtiket]="'kiraListesi.filtre.tumu' | transloco"
          />
        </rc-alan>
        <rc-alan [etiket]="'kiraListesi.filtre.grup' | transloco">
          <rc-secim
            formControlName="grup"
            [secenekler]="grupSecenekleri()"
            [bosEtiket]="'kiraListesi.filtre.tumu' | transloco"
          />
        </rc-alan>
        @if (kaynakSecimIzni()) {
          <rc-alan [etiket]="'kiraListesi.filtre.kaynak' | transloco">
            <rc-arama-secim formControlName="kaynak" [kaynak]="kaynaklar" />
          </rc-alan>
        }
        @if (personelSecimIzni()) {
          <rc-alan [etiket]="'kiraListesi.filtre.personel' | transloco">
            <rc-arama-secim formControlName="personel" [kaynak]="personeller" />
          </rc-alan>
        }
      </div>
      <div class="filtre__eylemler">
        <button type="submit" class="rc-dugme rc-dugme--birincil rc-dugme--kucuk">
          <rc-ikon ad="filter" [boyut]="14" />
          {{ 'kiraListesi.filtre.filtrele' | transloco }}
        </button>
        @if (liste.etkinFiltreSayisi() > 0) {
          <button
            type="button"
            class="rc-dugme rc-dugme--hayalet rc-dugme--kucuk"
            (click)="temizle()"
          >
            {{ 'kiraListesi.filtre.temizle' | transloco }}
          </button>
        }
      </div>
    </form>
  </rc-katlanir-filtre>

  <p class="ozet" aria-live="polite">{{ ozet() }}</p>

  @if (tahsilSatiri(); as satir) {
    <rc-kira-tahsil-paneli
      [satir]="satir"
      (kapat)="tahsilKapat()"
      (sonuclandi)="tahsilSonuclandi()"
    />
  }

  <rc-tablo
    class="tablo"
    tabloKodu="kiralar.liste"
    [etiket]="'kiraListesi.tabloEtiketi' | transloco"
    [sutunlar]="sutunlar"
    [kaynak]="store.liste.durum()"
    [satirKimligi]="kimlik"
    [sirala]="liste.sorgu().sirala"
    [varsayilanSirala]="varsayilanSirala"
    [disaAktarma]="disaAktarma()"
    (siralaDegisti)="liste.degistir({ sirala: $event })"
    (sayfaDegisti)="liste.degistir({ sayfa: $event })"
    (boyutDegisti)="liste.degistir({ boyut: $event })"
    (yenidenDene)="store.liste.yenile()"
    (satirAc)="satiriAc($event)"
  >
    <ng-template rcTabloHucre="sozlesmeNo" [rcTabloHucreSutunlar]="sutunlar" let-satir>
      <a class="bag" [routerLink]="['/kiralar', satir.id]">{{ satir.sozlesmeNo }}</a>
    </ng-template>

    <ng-template rcTabloHucre="durum" [rcTabloHucreSutunlar]="sutunlar" let-satir>
      <span [class]="rozet(satir.durum)">{{ durumEtiketi(satir.durum) }}</span>
    </ng-template>

    <ng-template rcTabloHucre="islemler" [rcTabloHucreSutunlar]="sutunlar" let-satir>
      <span class="islemler">
        @if (pdfIzni()) {
          <a
            class="rc-dugme rc-dugme--kucuk rc-dugme--hayalet"
            [href]="pdfAdresi(satir)"
            target="_blank"
            rel="noopener"
          >
            <rc-ikon ad="external-link" [boyut]="14" />
            {{ 'kiraListesi.sozlesmePdf' | transloco }}
            <span class="rc-gorunmez">{{
              'kiraListesi.sozlesmePdfEtiketi' | transloco: { no: satir.sozlesmeNo }
            }}</span>
          </a>
        }
        @if (satir.tahsilat !== null) {
          <button
            type="button"
            class="rc-dugme rc-dugme--kucuk"
            [attr.aria-pressed]="tahsilSatiri()?.id === satir.id"
            [disabled]="tahsilSuruyor()"
            (click)="tahsilAc(satir)"
          >
            <rc-ikon ad="cash" [boyut]="14" />
            {{ 'kiraListesi.tahsil.dugme' | transloco }}
            <span class="rc-gorunmez">{{ satir.sozlesmeNo }}</span>
          </button>
        }
        @if (iptalIzni() && satir.durum === 'Kirada') {
          <button
            type="button"
            class="rc-dugme rc-dugme--kucuk rc-dugme--hayalet"
            [disabled]="iptalEdilen() !== null"
            (click)="iptal(satir)"
          >
            <rc-ikon ad="x" [boyut]="14" />
            {{ 'kiraListesi.iptal' | transloco }}
            <span class="rc-gorunmez">{{ satir.sozlesmeNo }}</span>
          </button>
        }
      </span>
    </ng-template>
  </rc-tablo>
</div>
