<rc-sayfa-bandi
  ikon="key"
  [baslik]="'kiraListesi.baslik' | transloco"
  [pill]="bannerPill()"
  [altMetin]="bannerSubtext()"
>
  <ng-container eylemler>
    @if (exportItem(); as d) {
      @for (bicim of d.bicimler ?? []; track bicim) {
        <a class="rc-dugme" [href]="exportUrl(d, bicim)">
          @if ($first) {
            <rc-ikon ad="download" [boyut]="14" />
          }
          {{ 'tablo.disaAktar.' + bicim | transloco }}
        </a>
      }
    }
    @if (sampleContractPermission()) {
      <a class="rc-dugme" href="/kiralar/ornek-sozlesme/pdf" target="_blank" rel="noopener">
        <rc-ikon ad="external-link" [boyut]="14" />
        {{ 'kiraListesi.ornekSozlesme' | transloco }}
      </a>
    }
  </ng-container>
  @if (newRentalPermission()) {
    <a birincil class="rc-dugme rc-dugme--birincil" routerLink="/kiralar/yeni">
      <rc-ikon ad="plus" [boyut]="14" />
      {{ 'kiraListesi.yeniKira' | transloco }}
    </a>
  }
</rc-sayfa-bandi>

<div class="rc-sayfa">
  <rc-gorunum-cipleri [gorunumler]="views()" />

  <rc-filtre-paneli
    depoAnahtari="rc.filtre.kiralar"
    [formGroup]="filterForm"
    [baslik]="'kiraListesi.filtre.baslik' | transloco"
    [etkinSayisi]="liste.etkinFiltreSayisi()"
    (filtrele)="filter()"
    (temizle)="clear()"
  >
    <rc-alan [etiket]="'kiraListesi.filtre.ara' | transloco">
      <rc-metin-girdisi
        formControlName="q"
        tur="search"
        [azamiUzunluk]="200"
        [yerTutucu]="'kiraListesi.filtre.araIpucu' | transloco"
      />
    </rc-alan>
    <rc-alan [etiket]="'kiraListesi.filtre.durum' | transloco">
      <rc-secim
        formControlName="durum"
        [secenekler]="statusOptions"
        [bosEtiket]="'kiraListesi.filtre.tumu' | transloco"
      />
    </rc-alan>
    <rc-alan [etiket]="'kiraListesi.filtre.fatura' | transloco">
      <rc-secim
        formControlName="fatura"
        [secenekler]="invoiceOptions"
        [bosEtiket]="'kiraListesi.filtre.tumu' | transloco"
      />
    </rc-alan>
    <rc-alan [etiket]="'kiraListesi.filtre.tarihTuru' | transloco">
      <rc-secim
        formControlName="tarihTuru"
        [secenekler]="dateTypeOptions"
        [bosEtiket]="'kiraListesi.tarihTurleri.Baslangic' | transloco"
      />
    </rc-alan>
    <rc-alan [etiket]="'kiraListesi.filtre.basMin' | transloco">
      <rc-tarih-secici formControlName="basMin" />
    </rc-alan>
    <rc-alan [etiket]="'kiraListesi.filtre.basMax' | transloco">
      <rc-tarih-secici formControlName="basMax" />
    </rc-alan>
    @if (locationSelectionPermission()) {
      <rc-alan [etiket]="'kiraListesi.filtre.ofis' | transloco">
        <rc-arama-secim formControlName="ofis" [kaynak]="lokasyonlar" />
      </rc-alan>
    }
    <rc-alan [etiket]="'kiraListesi.filtre.ofisDurum' | transloco">
      <rc-secim
        formControlName="ofisDurum"
        [secenekler]="officeStatusOptions"
        [bosEtiket]="'kiraListesi.filtre.tumu' | transloco"
      />
    </rc-alan>
    <rc-alan [etiket]="'kiraListesi.filtre.sahip' | transloco">
      <rc-secim
        formControlName="sahip"
        [secenekler]="ownerOptions()"
        [bosEtiket]="'kiraListesi.filtre.tumu' | transloco"
      />
    </rc-alan>
    <rc-alan [etiket]="'kiraListesi.filtre.grup' | transloco">
      <rc-secim
        formControlName="grup"
        [secenekler]="groupOptions()"
        [bosEtiket]="'kiraListesi.filtre.tumu' | transloco"
      />
    </rc-alan>
    @if (sourceSelectionPermission()) {
      <rc-alan [etiket]="'kiraListesi.filtre.kaynak' | transloco">
        <rc-arama-secim formControlName="kaynak" [kaynak]="sources" />
      </rc-alan>
    }
    @if (staffSelectionPermission()) {
      <rc-alan [etiket]="'kiraListesi.filtre.personel' | transloco">
        <rc-arama-secim formControlName="personel" [kaynak]="staff" />
      </rc-alan>
    }
  </rc-filtre-paneli>

  @if (collectRow(); as satir) {
    <rc-kira-tahsil-paneli
      [satir]="satir"
      (kapat)="closeCollect()"
      (sonuclandi)="collectSettled()"
      (anahtarTazele)="refreshCollectKey()"
    />
  }

  <rc-tablo
    class="kira-izgarasi"
    tabloKodu="kiralar.liste"
    [etiket]="'kiraListesi.tabloEtiketi' | transloco"
    [sutunlar]="columns"
    [kaynak]="store.liste.durum()"
    [satirKimligi]="identity"
    [satirSinifi]="rowClass()"
    [sirala]="liste.sorgu().sirala"
    [varsayilanSirala]="defaultSort"
    (siralaDegisti)="liste.degistir({ sirala: $event })"
    (sayfaDegisti)="liste.degistir({ sayfa: $event })"
    (boyutDegisti)="liste.degistir({ boyut: $event })"
    (yenidenDene)="store.liste.yenile()"
    (satirAc)="openRow($event)"
  >
    <p rcTabloAraclari class="ozet" aria-live="polite">{{ ozet() }}</p>

    <ng-template rcTabloHucre="sozlesmeNo" [rcTabloHucreSutunlar]="columns" let-satir>
      <a class="bag" [routerLink]="['/kiralar', satir.id]">{{ satir.sozlesmeNo }}</a>
    </ng-template>

    <ng-template rcTabloHucre="plaka" [rcTabloHucreSutunlar]="columns" let-satir>
      <rc-plaka boyut="sm" [plaka]="satir.plaka" />
    </ng-template>

    <ng-template rcTabloHucre="durum" [rcTabloHucreSutunlar]="columns" let-satir>
      @let g = statusView(satir);
      <span [class]="rozet(g)">{{ statusLabel(g) }}</span>
    </ng-template>

    <ng-template rcTabloHucre="islemler" [rcTabloHucreSutunlar]="columns" let-satir>
      <span class="satir-eylemleri">
        @if (pdfPermission()) {
          <a
            class="rc-dugme rc-dugme--kucuk rc-dugme--hayalet"
            [href]="pdfUrl(satir)"
            target="_blank"
            rel="noopener"
          >
            <rc-ikon ad="external-link" [boyut]="14" />
            {{ 'kiraListesi.sozlesmePdf' | transloco }}
            <span class="rc-gorunmez">{{
              'kiraListesi.sozlesmePdfEtiketi' | transloco: { no: satir.sozlesmeNo }
            }}</span>
          </a>
        }
        @if (satir.tahsilat !== null) {
          <button
            type="button"
            class="rc-dugme rc-dugme--kucuk"
            [attr.aria-pressed]="collectRow()?.id === satir.id"
            [disabled]="isCollectInProgress()"
            (click)="openCollect(satir)"
          >
            <rc-ikon ad="cash" [boyut]="14" />
            {{ 'kiraListesi.tahsil.dugme' | transloco }}
            <span class="rc-gorunmez">{{ satir.sozlesmeNo }}</span>
          </button>
        }
        @if (cancelPermission() && satir.durum === 'Kirada') {
          <button
            type="button"
            class="rc-dugme rc-dugme--kucuk rc-dugme--hayalet"
            [disabled]="cancelled() !== null"
            (click)="iptal(satir)"
          >
            <rc-ikon ad="x" [boyut]="14" />
            {{ 'kiraListesi.iptal' | transloco }}
            <span class="rc-gorunmez">{{ satir.sozlesmeNo }}</span>
          </button>
        }
      </span>
    </ng-template>
  </rc-tablo>
</div>
