<rc-sayfa-bandi [baslik]="'aracFinans.siparis.baslik' | transloco" ikon="car">
  @if (canCreate()) {
    <a birincil class="rc-dugme rc-dugme--birincil" routerLink="/arac-siparis/yeni">
      <rc-ikon ad="plus" [boyut]="14" />
      {{ 'aracFinans.siparis.yeni' | transloco }}
    </a>
  }
</rc-sayfa-bandi>
<div class="rc-sayfa">
  <p class="not">{{ 'aracFinans.siparis.aciklama1' | transloco }}</p>
  <p class="not">{{ 'aracFinans.siparis.aciklama2' | transloco }}</p>

  <rc-filtre-paneli
    [formGroup]="filterForm"
    [etkinSayisi]="query.etkinFiltreSayisi()"
    depoAnahtari="rc.filtre.arac-siparis"
    (filtrele)="filter()"
    (temizle)="clear()"
  >
    <rc-alan [etiket]="'aracFinans.siparis.cari' | transloco">
      <rc-arama-secim formControlName="cari" [kaynak]="customers" />
    </rc-alan>
    <rc-alan [etiket]="'aracFinans.siparis.araFiltre' | transloco">
      <rc-metin-girdisi formControlName="ara" [azamiUzunluk]="100" />
    </rc-alan>
    <rc-alan
      [etiket]="'aracFinans.siparis.aracFiltre' | transloco"
      [ipucu]="'aracFinans.siparis.aracFiltreIpucu' | transloco"
    >
      <rc-metin-girdisi formControlName="arac" [azamiUzunluk]="100" />
    </rc-alan>
    <rc-alan [etiket]="'aracFinans.siparis.dosyaNo' | transloco">
      <rc-metin-girdisi formControlName="dosyaNo" [azamiUzunluk]="64" />
    </rc-alan>
    <rc-alan [etiket]="'aracFinans.durum' | transloco">
      <rc-secim
        formControlName="durum"
        [secenekler]="statusOptions"
        [bosEtiket]="'aracFinans.tumu' | transloco"
      />
    </rc-alan>
    <rc-alan [etiket]="'aracFinans.siparis.siparisMin' | transloco">
      <rc-tarih-secici formControlName="bas" />
    </rc-alan>
    <rc-alan [etiket]="'aracFinans.siparis.siparisMax' | transloco">
      <rc-tarih-secici formControlName="bit" />
    </rc-alan>
  </rc-filtre-paneli>

  <rc-tablo
    class="liste-tablosu"
    tabloKodu="arac-siparis.liste"
    [etiket]="'aracFinans.siparis.tabloEtiketi' | transloco"
    [sutunlar]="columns"
    [kaynak]="store.list.durum()"
    [satirKimligi]="rowId"
    [sirala]="query.sorgu().sirala"
    [disaAktarma]="export()"
    (siralaDegisti)="query.degistir({ sirala: $event })"
    (sayfaDegisti)="query.degistir({ sayfa: $event })"
    (boyutDegisti)="query.degistir({ boyut: $event })"
    (yenidenDene)="store.list.yenile()"
    (satirAc)="openRow($event)"
  >
    <ng-template rcTabloHucre="no" [rcTabloHucreSutunlar]="columns" let-satir>
      <a [routerLink]="['/arac-siparis', satir.id]">{{ satir.no }}</a>
    </ng-template>
    <ng-template rcTabloHucre="durum" [rcTabloHucreSutunlar]="columns" let-satir>
      <span class="rc-rozet">{{ statusLabel(satir.durum) }}</span>
    </ng-template>
    <ng-template rcTabloHucre="islemler" [rcTabloHucreSutunlar]="columns" let-satir>
      <span class="rc-form-eylemler">
        @if (satir.yetkiler.onayla) {
          <button
            type="button"
            class="rc-dugme rc-dugme--kucuk"
            [disabled]="busy() !== null"
            (click)="transition(satir, 'onayla')"
          >
            {{ 'aracFinans.siparis.onayla' | transloco }}
          </button>
        }
        @if (satir.yetkiler.teslimAl) {
          <button
            type="button"
            class="rc-dugme rc-dugme--kucuk"
            [disabled]="busy() !== null"
            (click)="transition(satir, 'teslim-al')"
          >
            {{ 'aracFinans.siparis.teslimAl' | transloco }}
          </button>
        }
        @if (satir.yetkiler.iptal) {
          <button
            type="button"
            class="rc-dugme rc-dugme--hayalet rc-dugme--kucuk"
            [disabled]="busy() !== null"
            (click)="transition(satir, 'iptal')"
          >
            {{ 'aracFinans.siparis.iptal' | transloco }}
          </button>
        }
        <a [routerLink]="['/arac-siparis', satir.id]">{{
          (satir.yetkiler.duzenle ? 'aracFinans.duzenle' : 'aracFinans.ac') | transloco
        }}</a>
      </span>
    </ng-template>
  </rc-tablo>
</div>
