:host {
  display: block;
}

.panel {
  display: flex;
  margin-block: var(--rc-bosluk-1);
}

.hazir {
  display: flex;
  flex-direction: column;
  gap: var(--rc-bosluk-0-5);
  margin: 0;
  padding: var(--rc-bosluk-2);
  border-inline-end: 1px solid var(--rc-kenar);
  list-style: none;

  .rc-dugme {
    justify-content: flex-start;
    width: 100%;
  }
}

@media (max-width: 30rem) {
  .panel {
    flex-direction: column;
  }

  .hazir {
    flex-flow: row wrap;
    border-inline-end: 0;
    border-block-end: 1px solid var(--rc-kenar);

    .rc-dugme {
      width: auto;
    }
  }
}
