<rc-sayfa-bandi [baslik]="'rezervasyon.baslik' | transloco" ikon="calendar-event">
  <a birincil class="rc-dugme rc-dugme--birincil" routerLink="/rezervasyonlar/yeni">
    <rc-ikon ad="plus" [boyut]="14" />
    {{ 'rezervasyon.yeni' | transloco }}
  </a>
</rc-sayfa-bandi>

<div class="rc-sayfa">
  <rc-katlanir-filtre
    class="filtre"
    [baslik]="'rezervasyon.filtre.baslik' | transloco"
    [etkinSayisi]="liste.etkinFiltreSayisi()"
    [(acik)]="filtreAcik"
  >
    <form
      class="filtre__form"
      [formGroup]="filtreFormu"
      [attr.aria-label]="'rezervasyon.filtre.baslik' | transloco"
      (ngSubmit)="filtrele()"
    >
      <div class="rc-form-izgara">
        <rc-alan
          [etiket]="'rezervasyon.filtre.ara' | transloco"
          [ipucu]="'rezervasyon.filtre.araIpucu' | transloco"
        >
          <rc-metin-girdisi formControlName="q" tur="search" [azamiUzunluk]="200" />
        </rc-alan>
        <rc-alan [etiket]="'rezervasyon.filtre.durum' | transloco">
          <rc-secim
            formControlName="durum"
            [secenekler]="durumSecenekleri"
            [bosEtiket]="'rezervasyon.filtre.tumu' | transloco"
          />
        </rc-alan>
        <rc-alan [etiket]="'rezervasyon.filtre.basMin' | transloco">
          <rc-tarih-secici formControlName="basMin" />
        </rc-alan>
        <rc-alan [etiket]="'rezervasyon.filtre.basMax' | transloco">
          <rc-tarih-secici formControlName="basMax" />
        </rc-alan>
        <rc-alan [etiket]="'rezervasyon.filtre.kaynak' | transloco">
          <rc-arama-secim formControlName="kaynak" [kaynak]="kaynaklar" />
        </rc-alan>
      </div>
      <div class="filtre__eylemler">
        <button type="submit" class="rc-dugme rc-dugme--birincil rc-dugme--kucuk">
          <rc-ikon ad="filter" [boyut]="14" />
          {{ 'rezervasyon.filtre.filtrele' | transloco }}
        </button>
        @if (liste.etkinFiltreSayisi() > 0) {
          <button
            type="button"
            class="rc-dugme rc-dugme--hayalet rc-dugme--kucuk"
            (click)="temizle()"
          >
            {{ 'rezervasyon.filtre.temizle' | transloco }}
          </button>
        }
      </div>
    </form>
  </rc-katlanir-filtre>

  <rc-tablo
    class="liste-tablosu"
    tabloKodu="rezervasyonlar.liste"
    [etiket]="'rezervasyon.tabloEtiketi' | transloco"
    [sutunlar]="sutunlar"
    [kaynak]="store.liste.durum()"
    [satirKimligi]="kimlik"
    [sirala]="liste.sorgu().sirala"
    [varsayilanSirala]="varsayilanSirala"
    [disaAktarma]="disaAktarma()"
    (siralaDegisti)="liste.degistir({ sirala: $event })"
    (sayfaDegisti)="liste.degistir({ sayfa: $event })"
    (boyutDegisti)="liste.degistir({ boyut: $event })"
    (yenidenDene)="store.liste.yenile()"
    (satirAc)="satiriAc($event)"
  >
    <ng-template rcTabloHucre="no" [rcTabloHucreSutunlar]="sutunlar" let-satir>
      <a class="bag" [routerLink]="['/rezervasyonlar', satir.id]">{{ satir.no }}</a>
    </ng-template>

    <ng-template rcTabloHucre="plaka" [rcTabloHucreSutunlar]="sutunlar" let-satir>
      @if (satir.plaka) {
        <rc-plaka [plaka]="satir.plaka" boyut="sm" />
      }
    </ng-template>

    <ng-template rcTabloHucre="durum" [rcTabloHucreSutunlar]="sutunlar" let-satir>
      <span [class]="rozet(satir.durum)" [class.opsiyonlu]="satir.durum === 'Rezerv'">{{
        durumEtiketi(satir.durum)
      }}</span>
    </ng-template>

    <ng-template rcTabloHucre="islemler" [rcTabloHucreSutunlar]="sutunlar" let-satir>
      <span class="satir-islemleri">
        @if (satir.durum === 'Rezerv') {
          <button
            type="button"
            class="rc-dugme rc-dugme--kucuk"
            [disabled]="islemler.suruyor() !== null"
            (click)="onayla(satir)"
          >
            <rc-ikon ad="check" [boyut]="14" />
            {{ 'rezervasyon.eylem.onayla' | transloco }}
            <span class="rc-gorunmez">{{ satir.no }}</span>
          </button>
        }
        @if (acik(satir)) {
          <button
            type="button"
            class="rc-dugme rc-dugme--kucuk"
            [disabled]="islemler.suruyor() !== null"
            (click)="kirayaCevir(satir)"
          >
            <rc-ikon ad="car" [boyut]="14" />
            {{ 'rezervasyon.eylem.kirayaCevir' | transloco }}
            <span class="rc-gorunmez">{{ satir.no }}</span>
          </button>
          <a
            class="rc-dugme rc-dugme--kucuk rc-dugme--hayalet"
            [routerLink]="['/rezervasyonlar', satir.id]"
          >
            <rc-ikon ad="edit" [boyut]="14" />
            {{ 'rezervasyon.eylem.duzenle' | transloco }}
            <span class="rc-gorunmez">{{ satir.no }}</span>
          </a>
        }
      </span>
    </ng-template>
  </rc-tablo>
</div>
