<section class="bolum" id="odeme" aria-labelledby="rc-taksit-ode-baslik">
  <h2 id="rc-taksit-ode-baslik">{{ 'aracFinans.kredi.taksitOde' | transloco }}</h2>
  <p class="aciklama">{{ 'aracFinans.kredi.odemeAciklama' | transloco }}</p>
  @if (next()) {
    <p class="sonraki">{{ nextText() }}</p>
  }
  <form class="form" [formGroup]="form" (ngSubmit)="pay()">
    <div class="rc-form-izgara">
      <rc-alan [etiket]="'aracFinans.kredi.hesap' | transloco">
        <rc-secim formControlName="hesap" [secenekler]="kindOptions" />
      </rc-alan>
      @if (accountOptions().length > 0) {
        <rc-alan [etiket]="'aracFinans.kredi.hesapId' | transloco">
          <rc-secim
            formControlName="hesapId"
            [secenekler]="accountOptions()"
            [bosEtiket]="'aracFinans.kredi.hesapBelirtilmemis' | transloco"
          />
        </rc-alan>
      }
    </div>
    <rc-money-submit
      [submission]="payment"
      type="submit"
      ikon="cash"
      [label]="'aracFinans.kredi.taksitOde' | transloco"
      [retryLabel]="retryLabel"
      [disabled]="refreshing()"
      (abandoned)="settled.emit()"
    />
  </form>
</section>
