<div class="sayfa">
  <header class="ust">
    <h1>{{ 'arac.durum.baslik' | transloco }}</h1>
    <div class="ust__eylemler">
      <span class="aciklama">{{ 'arac.durum.tazeleme' | transloco }}</span>
      <button
        type="button"
        class="rc-dugme rc-dugme--hayalet rc-dugme--kucuk"
        [disabled]="store.board.yukleniyor()"
        (click)="store.board.yenile()"
      >
        <rc-ikon ad="refresh" [boyut]="14" />
        {{ 'arac.yenile' | transloco }}
      </button>
    </div>
  </header>
  <p class="aciklama">{{ 'arac.durum.aciklama' | transloco }}</p>

  <form
    class="filtre"
    [formGroup]="filterForm"
    [attr.aria-label]="'arac.filtre.baslik' | transloco"
    (ngSubmit)="filter()"
  >
    <div class="rc-form-izgara">
      <rc-alan [etiket]="'arac.filtre.ara' | transloco">
        <rc-metin-girdisi formControlName="q" tur="search" [azamiUzunluk]="100" />
      </rc-alan>
      <rc-alan [etiket]="'arac.filtre.durum' | transloco">
        <rc-secim
          formControlName="durum"
          [secenekler]="statusOptions"
          [bosEtiket]="'arac.filtre.tumu' | transloco"
        />
      </rc-alan>
      <rc-alan [etiket]="'arac.alan.filoDurum' | transloco">
        <rc-secim
          formControlName="filoDurum"
          [secenekler]="fleetOptions"
          [bosEtiket]="'arac.filtre.tumu' | transloco"
        />
      </rc-alan>
      <rc-alan [etiket]="'arac.filtre.sube' | transloco">
        <rc-metin-girdisi formControlName="sube" [azamiUzunluk]="64" liste="dl-arac-durum-sube" />
      </rc-alan>
      <rc-alan [etiket]="'arac.alan.vites' | transloco">
        <rc-secim
          formControlName="vites"
          [secenekler]="gearOptions"
          [bosEtiket]="'arac.filtre.tumu' | transloco"
        />
      </rc-alan>
      <rc-alan [etiket]="'arac.alan.yakit' | transloco">
        <rc-secim
          formControlName="yakit"
          [secenekler]="fuelOptions"
          [bosEtiket]="'arac.filtre.tumu' | transloco"
        />
      </rc-alan>
      <rc-alan [etiket]="'arac.filtre.grup' | transloco">
        <rc-metin-girdisi formControlName="grup" [azamiUzunluk]="64" />
      </rc-alan>
      <rc-alan [etiket]="'arac.alan.marka' | transloco">
        <rc-metin-girdisi formControlName="marka" [azamiUzunluk]="64" />
      </rc-alan>
      <rc-alan [etiket]="'arac.durum.kira' | transloco">
        <rc-secim
          formControlName="kirada"
          [secenekler]="rentedOptions"
          [bosEtiket]="'arac.filtre.tumu' | transloco"
        />
      </rc-alan>
      <rc-alan [etiket]="'arac.alan.pasifSebep' | transloco">
        <rc-metin-girdisi
          formControlName="pasifSebep"
          [azamiUzunluk]="256"
          liste="dl-arac-durum-pasif"
        />
      </rc-alan>
      <rc-alan [etiket]="'arac.durum.hgsOgs' | transloco">
        <rc-metin-girdisi formControlName="hgs" [azamiUzunluk]="64" />
      </rc-alan>
      <rc-alan [etiket]="'arac.durum.gps' | transloco">
        <rc-metin-girdisi formControlName="gps" [azamiUzunluk]="64" />
      </rc-alan>
      <rc-alan [etiket]="'arac.alan.karLastigi' | transloco">
        <rc-secim
          formControlName="karLastigi"
          [secenekler]="snowOptions"
          [bosEtiket]="'arac.filtre.tumu' | transloco"
        />
      </rc-alan>
      <rc-alan [etiket]="'arac.durum.webRez' | transloco">
        <rc-secim
          formControlName="webRezKapali"
          [secenekler]="webOptions"
          [bosEtiket]="'arac.filtre.tumu' | transloco"
        />
      </rc-alan>
      <rc-alan [etiket]="'arac.durum.ofisRez' | transloco">
        <rc-secim
          formControlName="ofisRezKapali"
          [secenekler]="officeOptions"
          [bosEtiket]="'arac.filtre.tumu' | transloco"
        />
      </rc-alan>
    </div>
    <div class="filtre__eylemler">
      <button type="submit" class="rc-dugme rc-dugme--kucuk">
        <rc-ikon ad="filter" [boyut]="14" />
        {{ 'arac.filtre.filtrele' | transloco }}
      </button>
      @if (query.etkinFiltreSayisi() > 0) {
        <button type="button" class="rc-dugme rc-dugme--hayalet rc-dugme--kucuk" (click)="clear()">
          {{ 'arac.filtre.temizle' | transloco }}
        </button>
      }
    </div>
  </form>
  <datalist id="dl-arac-durum-sube">
    @for (s of branchSuggestions(); track s) {
      <option [value]="s"></option>
    }
  </datalist>
  <datalist id="dl-arac-durum-pasif">
    @for (s of reasonSuggestions(); track s) {
      <option [value]="s"></option>
    }
  </datalist>

  <p class="ozet" aria-live="polite">{{ counters() }}</p>

  <rc-tablo
    class="tablo"
    tabloKodu="araclar.durum"
    [etiket]="'arac.durum.tabloEtiketi' | transloco"
    [sutunlar]="columns"
    [kaynak]="tableSource()"
    [satirKimligi]="rowId"
    [sirala]="query.sorgu().sirala"
    (siralaDegisti)="query.degistir({ sirala: $event })"
    (sayfaDegisti)="query.degistir({ sayfa: $event })"
    (boyutDegisti)="query.degistir({ boyut: $event })"
    (yenidenDene)="store.board.yenile()"
    (satirAc)="openRow($event)"
  >
    <ng-template rcTabloHucre="plaka" [rcTabloHucreSutunlar]="columns" let-satir>
      <a class="bag" [routerLink]="['/araclar', satir.vehicleId]">{{ satir.plaka }}</a>
    </ng-template>
    <ng-template rcTabloHucre="durum" [rcTabloHucreSutunlar]="columns" let-satir>
      <span [class]="badge(satir.durum)">{{ statusLabel(satir.durum) }}</span>
    </ng-template>
    <ng-template rcTabloHucre="islemler" [rcTabloHucreSutunlar]="columns" let-satir>
      <span class="satir-eylem">
        @if (canRent(satir)) {
          <a
            [routerLink]="['/kiralar/yeni']"
            [queryParams]="{ varac: satir.vehicleId }"
            [attr.title]="'arac.durum.kiralaIpucu' | transloco"
          >
            {{ 'arac.durum.kirala' | transloco }}
          </a>
        }
        @if (satir.serviste) {
          <span class="aciklama">{{ 'arac.durumlar.Serviste' | transloco }}</span>
        } @else {
          <a routerLink="/servisler" [attr.title]="'arac.durum.servisIpucu' | transloco">
            {{ 'arac.durum.servis' | transloco }}
          </a>
        }
        @if (satir.bafta) {
          <span class="aciklama">{{ 'arac.durum.bafta' | transloco }}</span>
        } @else if (!satir.kirada) {
          <a
            routerLink="/baf"
            [state]="allocationState(satir)"
            [attr.title]="'arac.durum.tahsisIpucu' | transloco"
          >
            {{ 'arac.durum.tahsis' | transloco }}
          </a>
        }
      </span>
    </ng-template>
  </rc-tablo>
</div>
