<rc-sayfa-bandi [baslik]="'servisSigorta.vade.baslik' | transloco" ikon="alert-triangle">
  <ng-container eylemler>
    @for (l of exportLinks; track l.href) {
      <a class="rc-dugme" [href]="l.href">{{ l.label }}</a>
    }
  </ng-container>
</rc-sayfa-bandi>
<div class="rc-sayfa">
  <rc-regulation-tabs />
  <p class="not">{{ 'servisSigorta.vade.aciklama' | transloco }}</p>

  @if (summary(); as s) {
    <dl class="rc-izgara-4 ozet">
      <div class="rc-kart">
        <dt>{{ 'servisSigorta.vade.kovalar.Gecmis' | transloco }}</dt>
        <dd>
          <button
            type="button"
            class="rc-dugme rc-dugme--hayalet rc-dugme--kucuk gecikmis"
            (click)="selectBucket('Gecmis')"
          >
            {{ s.gecmis }}
          </button>
        </dd>
      </div>
      <div class="rc-kart">
        <dt>{{ 'servisSigorta.vade.kovalar.YediGun' | transloco }}</dt>
        <dd>
          <button
            type="button"
            class="rc-dugme rc-dugme--hayalet rc-dugme--kucuk"
            (click)="selectBucket('YediGun')"
          >
            {{ s.yediGun }}
          </button>
        </dd>
      </div>
      <div class="rc-kart">
        <dt>{{ 'servisSigorta.vade.kovalar.OtuzGun' | transloco }}</dt>
        <dd>
          <button
            type="button"
            class="rc-dugme rc-dugme--hayalet rc-dugme--kucuk"
            (click)="selectBucket('OtuzGun')"
          >
            {{ s.otuzGun }}
          </button>
        </dd>
      </div>
      <div class="rc-kart">
        <dt>{{ 'servisSigorta.vade.kovalar.Ileri' | transloco }}</dt>
        <dd>
          <button
            type="button"
            class="rc-dugme rc-dugme--hayalet rc-dugme--kucuk"
            (click)="selectBucket('Ileri')"
          >
            {{ s.ileri }}
          </button>
        </dd>
      </div>
    </dl>
  }

  <rc-filtre-paneli
    [formGroup]="filterForm"
    depoAnahtari="rc.filtre.vade"
    (filtrele)="filter()"
    (temizle)="clear()"
  >
    <rc-alan [etiket]="'servisSigorta.plaka' | transloco">
      <rc-metin-girdisi formControlName="plaka" [azamiUzunluk]="32" />
    </rc-alan>
    <rc-alan [etiket]="'servisSigorta.vade.sutun.tur' | transloco">
      <rc-metin-girdisi formControlName="tur" [azamiUzunluk]="32" liste="dl-vade-tur" />
    </rc-alan>
    <rc-alan [etiket]="'servisSigorta.vade.sutun.durum' | transloco">
      <rc-secim
        formControlName="kova"
        [secenekler]="bucketOptions"
        [bosEtiket]="'servisSigorta.tumu' | transloco"
      />
    </rc-alan>
  </rc-filtre-paneli>
  <datalist id="dl-vade-tur">
    <option value="Kasko"></option>
    <option value="Trafik"></option>
    <option value="MTV"></option>
    <option value="Muayene"></option>
  </datalist>

  <rc-tablo
    class="liste-tablosu"
    tabloKodu="vade.liste"
    [etiket]="'servisSigorta.vade.tabloEtiketi' | transloco"
    [sutunlar]="columns"
    [kaynak]="items()"
    [satirKimligi]="rowId"
    [sirala]="query.sorgu().sirala"
    (siralaDegisti)="query.degistir({ sirala: $event })"
    (sayfaDegisti)="query.degistir({ sayfa: $event })"
    (boyutDegisti)="query.degistir({ boyut: $event })"
    (yenidenDene)="store.board.yenile()"
  >
    <ng-template rcTabloHucre="plaka" [rcTabloHucreSutunlar]="columns" let-satir>
      <rc-plaka [plaka]="satir.plaka" boyut="sm" />
    </ng-template>
    <ng-template rcTabloHucre="kova" [rcTabloHucreSutunlar]="columns" let-satir>
      <span [class]="'rc-rozet ' + bucketTone(satir.kova)">{{ bucketLabel(satir.kova) }}</span>
    </ng-template>
  </rc-tablo>
</div>
