<rc-sayfa-bandi ikon="car" [baslik]="'filoKiralama.baslik' | transloco">
  <ng-container eylemler>
    @if (exportItem(); as d) {
      @for (bicim of d.bicimler ?? []; track bicim) {
        <a class="rc-dugme" [href]="exportUrl(d, bicim)">
          @if ($first) {
            <rc-ikon ad="download" [boyut]="14" />
          }
          {{ 'tablo.disaAktar.' + bicim | transloco }}
        </a>
      }
    }
  </ng-container>
  <a birincil class="rc-dugme rc-dugme--birincil" routerLink="/filo-kiralama/yeni">
    <rc-ikon ad="plus" [boyut]="14" />
    {{ 'filoKiralama.yeni' | transloco }}
  </a>
</rc-sayfa-bandi>

<div class="rc-sayfa">
  <p class="not">{{ 'filoKiralama.aciklama' | transloco }}</p>

  <form
    class="filtre rc-bolum"
    [formGroup]="filterForm"
    [attr.aria-label]="'filoKiralama.filtre.baslik' | transloco"
    (ngSubmit)="filter()"
  >
    <div class="rc-filtre-izgara">
      <rc-alan [etiket]="'filoKiralama.filtre.musteri' | transloco">
        <rc-arama-secim formControlName="musteri" [kaynak]="customers" />
      </rc-alan>
      <rc-alan [etiket]="'filoKiralama.filtre.plaka' | transloco">
        <rc-metin-girdisi formControlName="plaka" [azamiUzunluk]="32" />
      </rc-alan>
      <rc-alan
        [etiket]="'filoKiralama.filtre.ara' | transloco"
        [ipucu]="'filoKiralama.filtre.araIpucu' | transloco"
      >
        <rc-metin-girdisi formControlName="ara" tur="search" [azamiUzunluk]="100" />
      </rc-alan>
      <rc-alan [etiket]="'filoKiralama.filtre.durum' | transloco">
        <rc-secim
          formControlName="durum"
          [secenekler]="statusOptions"
          [bosEtiket]="'filoKiralama.filtre.tumu' | transloco"
        />
      </rc-alan>
      <rc-alan [etiket]="'filoKiralama.filtre.bas' | transloco">
        <rc-tarih-secici formControlName="bas" />
      </rc-alan>
      <rc-alan [etiket]="'filoKiralama.filtre.bit' | transloco">
        <rc-tarih-secici formControlName="bit" />
      </rc-alan>
    </div>
    <div class="filtre__eylemler">
      <button type="submit" class="rc-dugme rc-dugme--kucuk">
        <rc-ikon ad="filter" [boyut]="14" />
        {{ 'filoKiralama.filtre.filtrele' | transloco }}
      </button>
      @if (liste.etkinFiltreSayisi() > 0) {
        <button type="button" class="rc-dugme rc-dugme--hayalet rc-dugme--kucuk" (click)="clear()">
          {{ 'filoKiralama.filtre.temizle' | transloco }}
        </button>
      }
    </div>
  </form>

  <rc-tablo
    class="liste-tablosu"
    tabloKodu="filo-kiralama.liste"
    [etiket]="'filoKiralama.tabloEtiketi' | transloco"
    [sutunlar]="columns"
    [kaynak]="store.liste.durum()"
    [satirKimligi]="identity"
    [sirala]="liste.sorgu().sirala"
    (siralaDegisti)="liste.degistir({ sirala: $event })"
    (sayfaDegisti)="liste.degistir({ sayfa: $event })"
    (boyutDegisti)="liste.degistir({ boyut: $event })"
    (yenidenDene)="store.liste.yenile()"
    (satirAc)="openRow($event)"
  >
    <p rcTabloAraclari class="ozet" aria-live="polite">{{ ozet() }}</p>
    <ng-template rcTabloHucre="no" [rcTabloHucreSutunlar]="columns" let-satir>
      <a class="bag" [routerLink]="['/filo-kiralama', satir.id]">{{ satir.no }}</a>
    </ng-template>
    <ng-template rcTabloHucre="plaka" [rcTabloHucreSutunlar]="columns" let-satir>
      <rc-plaka boyut="sm" [plaka]="satir.plaka" />
    </ng-template>
    <ng-template rcTabloHucre="durum" [rcTabloHucreSutunlar]="columns" let-satir>
      <span [class]="rozet(satir.durum)">{{ statusLabel(satir.durum) }}</span>
    </ng-template>
  </rc-tablo>
</div>
